src/
__*
/node_modules/
/dist/
/build/
/lib/
/out/
/*.log
/.vscode/
/.idea/
/*.test.js
/*.spec.js
*.md
*.tsbuildinfo
*.swp
*.swo
/.eslintcache
/.nyc_output/
/coverage/
/*.tgz
/.git/
/.gitignore
/.npmrc
/.docker/
/.ci/
/docs/
/examples/
/test/
/.env
*.key
*.pem